@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #8D5143;
    padding: 8px 15px;
    border-bottom: 2px solid #624A39;
}
.logo_header {
    width: 50px;
}
.menu{
    display: flex;
    gap: 15px;
}
/*main*/
.topo {
    display: flex;
    justify-content: center;
    background-color: #F9C4BA;
    background-image: url("../imagens/fundo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px;
}
.logo {
    width: 300px;
}
main h1{
    margin: auto;
    padding: 20px;
    font-size: 2.5em;
}
.comidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    background-color: #8D5143;
    border-top: 2px solid #624A39;
    min-height: 300px;
}
.comidas p{
    color: #D9946C;
    font-size: 1.5em;
}
.titulo_comidas{
    color: #D9946C;
}
.comida_imagem{
    border: 3px solid #D9946C;
    border-radius: 10px;
}
.salgados{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 0px 70px 10px 70px;
}
.texto{
    display: flex;
    max-width: 750px;
}
.doces{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px 70px 40px 70px;
}
.bebidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D9946C;
    border-top: 2px solid #624A39;
    min-height: 300px;
}
.bebidas p{
    color: #624A39;
    font-size: 1.5em;
}
.titulo_bebidas{
    color: #624A39;
}
.bebidas_imagem{
    border: 3px solid #8D5143;
    border-radius: 10px;
}
.cafe{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px 70px 10px 70px;
}
.suco{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px 70px 40px 70px;
}
.infos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #8D5143;
    border-top: 2px solid #624A39;
    min-height: 300px;
    padding: 30px;
}
.contato{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.contato h2,p{
    margin: 10px;
}
.contato>p{
    text-align: center;
}
.qr{
    width: 150px;
    margin: 10px;
}
button{
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: #25D366;
    border: 2px solid white;
    border-radius: 10px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer{
    display: flex;
    background-color: #8D5143;
    height: 40px;
    border-top: 2px solid #624A39;
    align-items: center;
}
footer>a{
    margin: auto;
}